// Buttons
button {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.btn-s {
  @include flex-jc-ic();
  background: var(--crayola);
  color: var(--primary-blue);
  border-radius: 0.5rem;
  padding: 0.7rem;
  transition: 0.2s;
  font-weight: 500;

  &:hover {
    box-shadow: 0 0 0 0.1rem var(--primary-blue);
  }
}

.btn-l-big {
  background: var(--primary-blue);
  color: var(--crayola-2);
  padding: 1.4rem 3rem;
  border-radius: 0.7rem;
  transition: 0.2s;
  font: {
    size: $font-14;
    weight: 500;
  }

  &:hover {
    background: var(--crayola-2);
    color: var(--primary-blue);
    box-shadow: inset 0 0 0 0.2rem var(--primary-blue);
  }
}

.btn-l-big-transparent {
  background: transparent;
  color: var(--primary-text);
  padding: 1.4rem 3rem;
  border-radius: 0.7rem;
  transition: 0.2s;
  font: {
    size: $font-14;
    weight: 500;
  }

  &:hover {
    box-shadow: inset 0 0 0 0.2rem var(--primary-blue);
  }
}

// Form Button
.btn-l-form {
  background: var(--primary-blue-dark);
  color: var(--white);
  padding: 1rem;
  border-radius: 0.7rem;
  transition: 0.2s;
  font: {
    size: $font-14;
    weight: 400;
  }

  &:hover {
    background: var(--crayola-2);
    color: var(--primary-blue);
    box-shadow: inset 0 0 0 0.2rem var(--primary-blue);
  }
}

// Square Button
.btn-square-l {
  width: 5.2rem;
  height: 5.2rem;
  background: var(--primary-blue);
  color: var(--white);
  border-radius: 0.7rem;
  font-size: 1.8rem;
  text-align: center;
  transition: 0.2s;

  &:hover {
    background: var(--crayola-2);
    color: var(--primary-blue);
    box-shadow: inset 0 0 0 0.2rem var(--primary-blue);
  }
}

// ---- Tags ----
.tag {
  max-width: fit-content;
  @include flex-jc-ic();
  background: var(--gray-light);
  color: var(--primary-text);
  border-radius: 0.5rem;
  padding: 0.7rem;
  transition: 0.2s;
  cursor: default;

  &:hover {
    box-shadow: 0 0 0 0.1rem var(--blue-light-2);
  }

  i {
    width: 1.9rem;
    height: 1.9rem;
    @include flex-jc-ic();
    margin-left: 1rem;
    border-radius: 0.5rem;
    transition: inherit;
    cursor: pointer;

    &:hover {
      background: var(--blue-light-2);
    }
  }
}

// ---- Logo ----
.main-logo {
  @include flex-js-ic();
  font: {
    size: 2rem;
    weight: 600
  }

  i {
    background: var(--primary-blue);
    color: #fff;
    padding: 0.5rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
  }
}

// ---- Icon ----
.icon-m {
  font-size: 2.6rem;
}

.icon-box {
  width: 4rem;
  height: 4rem;
  @include flex-jc-ic();
  // background: #a9def9;
  margin-bottom: 2rem;
  border-radius: 50%;
}

// ---- Icon Background color ----
.icon-bg-purple {
  background: var(--purple);

    i {
      color: #8d49e1;
    }
}

.icon-bg-blue {
  background: #c3ebff;

    i {
      color: #0091f9;
    }
}

.icon-bg-green {
  background: #A1FCDF;

    i {
      color: #23b95f;
    }
}