:root {
  --primary-text: #102851ff;
  --secondary-text: rgb(119, 123, 133);
  --gray-light: rgb(227, 235, 255);
  --primary-bg: #f9fafc;
  --secondary-bg: #ffffff;
  --primary-blue: #014ed5ff;
  --blue-light: #5d99fa;
  --blue-light-2: #83b1fb;
  --crayola: #ccdfffff;
  --crayola-2: #d6e5ff;
  --light-color: #fafbfeff;
  --white: #ffffff;
  --white-t: #ffffff;
  --shadow: rgba(0, 0, 0, 0.038);
}

@mixin bg-blur {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
}