:root {
  --primary-text: #102851ff;
  --primary-bg: #f9fafc;
  --secondary-bg: #ffffff;
  --primary-blue: #014ed5ff;
  --crayola: #ccdfffff;
  --crayola-2: #d6e5ffff;
  --aa: #fafbfeff;
  --white: #ffffff;
}
