// ---- Flex ----
@mixin flex-jc-ic {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-jb-ic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-js-ic {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-js-ic-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

// ---- Column ----
@mixin column-jc-ic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin column-jc-ic-cs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

@mixin column-js-is-cs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

@mixin column-jc-is {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}