// ---- Flex ----
@mixin flex-jc-ic {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-jb-ic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// ---- Column ----
@mixin column-js-is {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}