@import './globalStyling/layout';

main {
  background: var(--primary-bg);
}

.section-shared {
  padding: 0 8rem;
  margin-top: 8rem;
}

#hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  background: var(--crayola-2);
  padding-top: 8.4rem;
  z-index: 1;
}

// Hero First section
.hero__first {
  @include column-jc-is();
  padding-left: 12rem;

  // Title
  .hero__header {
    font: {
      size: 5rem;
      weight: 700;
    }
  }

  // Hero Paragraph
  .text-2 {
    width: 70%;
    color: var(--secondary-text);
    margin-top: 2rem;
  }
}

.hero__last-container {
  @include flex-jc-ic();
  margin-top: 2rem;

  > div:not(:last-child) {
    margin-right: 1rem;
  }
}

// Hero Last section - Hero Image
#hero__last {
  padding-right: 12rem;
}

#hero-image {
  width: 40vw;
}

// ----- Search Section -----
#search-section {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 2/3;
  padding: 0 12rem;
  background: #d6e5ff;
  background: linear-gradient(
    180deg,
    rgba(214, 229, 255, 1) 50%,
    rgba(249, 250, 252, 1) 50%
  );
}

// Search Container
#main-search-container {
  width: 100%;
  background: var(--white);
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0 0 0rem 0.15rem var(--shadow);
  z-index: 200;

  .search__h4 {
    margin-top: 2rem;
  }
}

// Tags Container
.tags-container {
  @include flex-js-ic-wrap();
  margin-top: 1rem;

  // Tags
  .tag:not(:last-child) {
    margin: 1rem 1rem 0 0;
  }

  button {
    margin-top: 1rem;
  }
}

// ---- Popular Search on Wecare ----
.popular-search-container {
  @include flex-js-ic();
  margin-top: 4rem;
}

// Items container
.popular-search__items__container {
  cursor: pointer;
  // @include flex-js-ic();

  // Items Title
  .popular-search__items:not(:last-child) {
    margin-bottom: 2rem;
  }
}

// hr tag
hr {
  margin: 0 2rem;
  background: var(--blue-light);
  width: 0.3rem;
  height: 11rem;
}

// Popular Search Item container
.popular-search__item__container {
  @include flex-js-ic();
  overflow-x: auto;
  padding: 2rem 0;

  .popular-search__item {
    min-width: 18rem;
    // height: 15rem;
    background: var(--white-t);
    border-radius: 1rem;
    border: 0.2rem solid var(--crayola-2);
    transition: 0.2s;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &:hover {
      border: 0.2rem solid var(--blue-light-2);
      background: var(--gray-light);
    }

    a {
      @include column-jc-ic();
      padding: 2rem 1rem;

      i {
        width: 5rem;
        height: 5rem;
        @include flex-jc-ic();
        background: #a9def9;
        margin-bottom: 2rem;
        border-radius: 50%;
      }
    }
  }
}

// ---- Find the doctor ----
.find-doctor {
  display: grid;
  grid-template-columns: auto 1fr;
}

.find-doctor__first {
  width: 100%;
  @include column();

  .text-2 {
    margin-top: 2rem;
  }
}

.find-docter-items {
  @include flex-js-ic();
  position: relative;
  margin-top: 1rem;

  // Icon
  .icon-box {
    min-width: 4rem;

    &:after {
      content: '';
      position: absolute;
      top: 70%;
      width: 0.3rem;
      height: 40%;
      background-color: var(--gray-light);
    }
  }

  // Header and paragraph
  .find-docter-items__content {
    margin: 1.9rem 0 0 2rem;

    .text-2 {
      margin-top: 1rem;
    }
  }
}

//
.find-doctor__last {
  position: relative;
  @include flex-jc-ic();
}

.find-doctor__last__image {
  @include column-jc-ic();
}

.find-doctor__search-container {
  width: 30rem;
  position: absolute;
  left: 0;
  background-color: var(--white-t);
  padding: 2rem;
  margin-left: 4rem;
  border-radius: 2rem;
  box-shadow: 0 0 1rem 1rem var(--shadow);
}

// ---- Why you choose We Care ----
.why-wecare {
  @include flex-js-ic();
  background: var(--crayola-2);
  padding-top: 4rem;
}

// First div
.why-wecare__first {
  width: 50%;
  position: relative;
  @include flex-jc-ic();

  .why-wecare__list {
    position: absolute;
    right: 10%;

    > img {
      width: 15rem;
    }
  }
}

// Last div
.why-wecare__last {
  width: 50%;
  padding-left: 4rem;

  > p,
  li {
    margin-top: 2rem;
  }

  // list items
  .why-wecare-list__item {
    @include flex-js-ic();

    p,
    i {
      font-size: $font-16;
    }

    i {
      margin-right: 1rem;
      color: var(--primary-blue);
    }
  }
}

// ---- Meet out specialist ----
.meet-specialist {
}

.meet-specialist__header {
  text-align: center;

  p {
    margin-top: 2rem;
  }
}

// Meet specialist Cards
.meet-specialist__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4rem;
  margin-top: 4rem;
}

// Specialist Card
.specialist-card {
  width: 100%;
  min-width: 25rem;
  background: var(--crayola-5);
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;

  .image-box-m {
    background: var(--crayola-4);
    border-radius: 2rem;
    object-fit: cover;
    
    img {
      height: 29rem;
      transform: translateY(0);
      transition: 0.4s;
    }
  }

  h4,
  p {
    margin-top: 1rem;
  }

  // Hover
  &:hover {
    box-shadow:  0 0 0 0.2rem var(--crayola-2);
    img {
      transform: scale3d(1.03, 1.03, 0.3);
    }
  }
}
