@import './globalStyling/layout';

.section-shared {
  padding: 0 8rem;
}

#hero {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  background: var(--crayola-2);
  padding-top: 8.4rem;
  z-index: 1;
}

// Hero First section
.hero__first {
  @include column-jc-is();
  padding-left: 12rem;
}

// Title
.hero__header {
  font: {
    size: 5rem;
    weight: 700;
  }
}

// Hero Paragraph
.text-2 {
  width: 70%;
  color: var(--secondary-text);
  margin-top: 2rem;
}

.hero__last-container {
  @include flex-jc-ic();
  margin-top: 2rem;

  > div:not(:last-child) {
    margin-right: 1rem;
  }
}

// Hero Last section - Hero Image
#hero__last {
  padding-right: 12rem;
}

#hero-image {
  width: 40vw;
}

// ----- Search Section -----
#search-section {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 2/3;
  padding: 0 12rem;
  background: rgb(214,229,255);
background: linear-gradient(180deg, rgba(214,229,255,1) 50%, rgba(249,250,252,1) 50%);
}

// Search Container
#main-search-container {
  width: 100%;
  background: var(--white);
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0 0 0rem 0.15rem var(--shadow);
  z-index: 200;
}

.search__h4 {
  margin-top: 2rem;
}

// Tags Container
.tags-container {
  @include flex-js-ic-wrap();
  margin-top: 1rem;

  // Tags
  .tag:not(:last-child) {
    margin: 1rem 1rem 0 0;
  }

  button {
    margin-top: 1rem;
  }
}
