@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: Roboto;
}

h1 {
  font-size: 3.7rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1rem;
}

p,
span,
li {
  font-size: 1.4rem;
  letter-spacing: 0.02rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
div,
nav,
p,
img,
span,
input {
  font-weight: normal;
  color: var(--primary-text);
}

p, span {
  line-height: 1.5;
}

input {
  all: unset;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--primary-text);
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  all: unset;
  font-size: 1.4rem;
  cursor: pointer;
}

span {
  all: unset;
  font-size: 1.4rem;
}

.h2 {
  font-size: 3rem;
  font-weight: 600;
}

.h4 {
  font-size: 2rem;
  font-weight: 600;
}

.h5 {
  font-size: 1.6rem;
  font-weight: 500;
}

:root {
  --primary-text: #102851ff;
  --secondary-text: rgb(119, 123, 133);
  --gray-light: rgb(227, 235, 255);
  --primary-bg: #f9fafc;
  --secondary-bg: #ffffff;
  --primary-blue: #014ed5ff;
  --primary-blue-dark: #1d2b51;
  --blue-light: #5d99fa;
  --blue-light-2: #83b1fb;
  --crayola: #ccdfffff;
  --crayola-2: #d6e5ff;
  --crayola-3: #ccdfffb4;
  --crayola-4: #e4e7e6;
  --crayola-5: #f1f5fe;
  --light-color: #fafbfeff;
  --white: #ffffff;
  --white-t: #ffffff;
  --purple: #E4C1F9;
  --shadow: rgba(0, 0, 0, 0.038);
}

button {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.btn-s {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--crayola);
  color: var(--primary-blue);
  border-radius: 0.5rem;
  padding: 0.7rem;
  transition: 0.2s;
  font-weight: 500;
}
.btn-s:hover {
  box-shadow: 0 0 0 0.1rem var(--primary-blue);
}

.btn-l-big {
  background: var(--primary-blue);
  color: var(--crayola-2);
  padding: 1.4rem 3rem;
  border-radius: 0.7rem;
  transition: 0.2s;
  font-size: 1.4rem;
  font-weight: 500;
}
.btn-l-big:hover {
  background: var(--crayola-2);
  color: var(--primary-blue);
  box-shadow: inset 0 0 0 0.2rem var(--primary-blue);
}

.btn-l-big-transparent {
  background: transparent;
  color: var(--primary-text);
  padding: 1.4rem 3rem;
  border-radius: 0.7rem;
  transition: 0.2s;
  font-size: 1.4rem;
  font-weight: 500;
}
.btn-l-big-transparent:hover {
  box-shadow: inset 0 0 0 0.2rem var(--primary-blue);
}

.btn-l-form {
  background: var(--primary-blue-dark);
  color: var(--white);
  padding: 1rem;
  border-radius: 0.7rem;
  transition: 0.2s;
  font-size: 1.4rem;
  font-weight: 400;
}
.btn-l-form:hover {
  background: var(--crayola-2);
  color: var(--primary-blue);
  box-shadow: inset 0 0 0 0.2rem var(--primary-blue);
}

.btn-square-l {
  width: 5.2rem;
  height: 5.2rem;
  background: var(--primary-blue);
  color: var(--white);
  border-radius: 0.7rem;
  font-size: 1.8rem;
  text-align: center;
  transition: 0.2s;
}
.btn-square-l:hover {
  background: var(--crayola-2);
  color: var(--primary-blue);
  box-shadow: inset 0 0 0 0.2rem var(--primary-blue);
}

.tag {
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gray-light);
  color: var(--primary-text);
  border-radius: 0.5rem;
  padding: 0.7rem;
  transition: 0.2s;
  cursor: default;
}
.tag:hover {
  box-shadow: 0 0 0 0.1rem var(--blue-light-2);
}
.tag i {
  width: 1.9rem;
  height: 1.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  border-radius: 0.5rem;
  transition: inherit;
  cursor: pointer;
}
.tag i:hover {
  background: var(--blue-light-2);
}

.mian-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
}
.mian-logo i {
  background: var(--primary-blue);
  color: #fff;
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
}

.icon-box {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  border-radius: 50%;
}

.icon-bg-purple {
  background: var(--purple);
}
.icon-bg-purple i {
  color: #8d49e1;
}

.icon-bg-blue {
  background: #c3ebff;
}
.icon-bg-blue i {
  color: #0091f9;
}

.icon-bg-green {
  background: #A1FCDF;
}
.icon-bg-green i {
  color: #23b95f;
}

.cart-s {
  width: 20rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-text);
  color: var(--primary-bg);
  padding: 1rem;
  border-radius: 0.7rem;
  font-size: 1.2rem;
}
.cart-s i {
  color: var(--blue-light);
  margin-right: 1rem;
}

.form-search {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 5.2rem;
}
.form-search div:not(:last-child) {
  margin-right: 2rem;
}

.primary-text-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-color);
  padding: 0 1.5rem;
  border: 0.3rem solid var(--gray-light);
  border-radius: 0.7rem;
  transition: 0.2s;
}
.primary-text-input-container i {
  font-size: 1.8rem;
  margin-right: 1rem;
}
.primary-text-input-container:focus-within {
  border: 0.3rem solid var(--blue-light-2);
}
.primary-text-input-container input {
  width: 100%;
  height: 5.2rem;
}

.form-search-s {
  display: flex;
  flex-direction: column;
}
.form-search-s > div, .form-search-s button {
  margin-top: 2rem;
}
.form-search-s button {
  width: 100%;
}

.subscribe-form {
  background: var(--white-t);
  padding: 1rem;
}
.subscribe-form input {
  color: var(--secondary-text);
}

::-webkit-scrollbar {
  width: 1rem;
  height: 1.1rem;
}

::-webkit-scrollbar-track {
  background: var(--crayola);
  border-radius: 2.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-light);
  border-radius: 2.5rem;
}

:root {
  scrollbar-color: var(--blue-light) var(--crayola) !important;
  scrollbar-width: thin !important;
}

main {
  background: var(--primary-bg);
}

.section-shared {
  padding: 0 8rem;
  margin-top: 8rem;
}

#hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  background: var(--crayola-2);
  padding-top: 8.4rem;
  z-index: 1;
}

.hero__first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 12rem;
}
.hero__first .hero__header {
  font-size: 5rem;
  font-weight: 700;
}
.hero__first .text-2 {
  width: 70%;
  color: var(--secondary-text);
  margin-top: 2rem;
}

.hero__last-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.hero__last-container > div:not(:last-child) {
  margin-right: 1rem;
}

#hero__last {
  padding-right: 12rem;
}

#hero-image {
  width: 40vw;
}

#search-section {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 2/3;
  padding: 0 12rem;
  background: #d6e5ff;
  background: linear-gradient(180deg, #d6e5ff 50%, #f9fafc 50%);
}

#main-search-container {
  width: 100%;
  background: var(--white);
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0 0 0rem 0.15rem var(--shadow);
  z-index: 200;
}
#main-search-container .search__h4 {
  margin-top: 2rem;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}
.tags-container .tag:not(:last-child) {
  margin: 1rem 1rem 0 0;
}
.tags-container button {
  margin-top: 1rem;
}

.popular-search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4rem;
}

.popular-search__items__container {
  cursor: pointer;
}
.popular-search__items__container .popular-search__items:not(:last-child) {
  margin-bottom: 2rem;
}

hr {
  margin: 0 2rem;
  background: var(--blue-light);
  width: 0.3rem;
  height: 11rem;
}

.popular-search__item__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  padding: 2rem 0;
}
.popular-search__item__container .popular-search__item {
  min-width: 18rem;
  background: var(--white-t);
  border-radius: 1rem;
  border: 0.2rem solid var(--crayola-2);
  transition: 0.2s;
}
.popular-search__item__container .popular-search__item:not(:last-child) {
  margin-right: 2rem;
}
.popular-search__item__container .popular-search__item:hover {
  border: 0.2rem solid var(--blue-light-2);
  background: var(--gray-light);
}
.popular-search__item__container .popular-search__item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}
.popular-search__item__container .popular-search__item a i {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a9def9;
  margin-bottom: 2rem;
  border-radius: 50%;
}

.find-doctor {
  display: grid;
  grid-template-columns: auto 1fr;
}

.find-doctor__first {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.find-doctor__first .text-2 {
  margin-top: 2rem;
}

.find-docter-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-top: 1rem;
}
.find-docter-items .icon-box {
  min-width: 4rem;
}
.find-docter-items .icon-box:after {
  content: "";
  position: absolute;
  top: 70%;
  width: 0.3rem;
  height: 40%;
  background-color: var(--gray-light);
}
.find-docter-items .find-docter-items__content {
  margin: 1.9rem 0 0 2rem;
}
.find-docter-items .find-docter-items__content .text-2 {
  margin-top: 1rem;
}

.find-doctor__last {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.find-doctor__last__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.find-doctor__search-container {
  width: 30rem;
  position: absolute;
  left: 0;
  background-color: var(--white-t);
  padding: 2rem;
  margin-left: 4rem;
  border-radius: 2rem;
  box-shadow: 0 0 1rem 1rem var(--shadow);
}

.why-wecare {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--crayola-2);
  padding-top: 4rem;
}

.why-wecare__first {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-wecare__first .why-wecare__list {
  position: absolute;
  right: 10%;
}
.why-wecare__first .why-wecare__list > img {
  width: 15rem;
}

.why-wecare__last {
  width: 50%;
  padding-left: 4rem;
}
.why-wecare__last > p,
.why-wecare__last li {
  margin-top: 2rem;
}
.why-wecare__last .why-wecare-list__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.why-wecare__last .why-wecare-list__item p,
.why-wecare__last .why-wecare-list__item i {
  font-size: 1.6rem;
}
.why-wecare__last .why-wecare-list__item i {
  margin-right: 1rem;
  color: var(--primary-blue);
}

.meet-specialist__header {
  text-align: center;
}
.meet-specialist__header p {
  margin-top: 2rem;
}

.meet-specialist__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4rem;
  margin-top: 4rem;
}

.specialist-card {
  width: 100%;
  min-width: 25rem;
  background: var(--crayola-5);
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}
.specialist-card .image-box-m {
  background: var(--crayola-4);
  border-radius: 2rem;
  object-fit: cover;
}
.specialist-card .image-box-m img {
  height: 29rem;
  transform: translateY(0);
  transition: 0.4s;
}
.specialist-card h4,
.specialist-card p {
  margin-top: 1rem;
}
.specialist-card:hover {
  box-shadow: 0 0 0 0.2rem var(--crayola-2);
}
.specialist-card:hover img {
  transform: scale3d(1.03, 1.03, 0.3);
}

.patients-feedback {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 8rem;
  grid-row-gap: 4rem;
  background: var(--crayola-2);
  padding-top: 8rem;
  text-align: center;
}
.patients-feedback h2, .patients-feedback p {
  grid-column: 1/-1;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.feedback-container > div:not(:first-child), .feedback-container p {
  margin-top: 4rem;
}
.feedback-container .circle {
  color: var(--primary-blue);
}

.feedback-profile {
  height: 7rem;
  display: grid;
  grid-template-columns: 7rem auto;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
  text-align: left;
}
.feedback-profile .image-box {
  grid-column: 1/2;
  grid-row: 1/-1;
  background: #46ddbd;
  border-radius: 1rem;
}
.feedback-profile .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feedback-profile .feedback-profile__name {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 1.6rem;
  font-weight: 600;
}
.feedback-profile .feedback-profile__location {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 1.2rem;
}
.feedback-profile .star {
  grid-column: 2/3;
  grid-row: 3/4;
  color: #f8ba4f;
  font-size: 1.4rem;
}

.subscribe-section-container {
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary-blue);
  margin: auto;
  padding: 4rem;
  border-radius: 2rem;
  gap: 4rem;
  text-align: center;
}
.subscribe-section-container h2 {
  color: var(--white);
  font-size: 3.5rem;
  font-weight: 600;
  width: 60%;
}
.subscribe-section-container .subscribe-form {
  width: 60%;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
