@import '../globalStyling/layout';

header {
  width: 100%;
  height: 8.4rem;
  position: fixed;
  top: 0;
  left: 0;
  @include flex-jb-ic();
  background: transparent;
  padding: 2rem 8rem;
  transition: 0.2s;
  z-index: 10;
}

.header-bg {
  height: 6rem;
  @include bg-blur();
}

#header-divider {
  @include flex-jb-ic();
}

// ---- Nav ----
.header-nav {
  @include flex-jb-ic();
  margin-left: 6rem;

  // Item
  .header-nav__item {
    font: {
      size: $font-14;
      weight: 600;
    }

    // Link
    a {
      position: relative;
      @include hover-title();
    }
  }
  
  .header-nav__item {
    margin-right: 4rem;
  }
}

#login-container {
  @include flex-jc-ic();
}

// ---- Log in Buttons ----
#login-container > a:not(:last-child){
  margin-right: 2rem;
}